/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
  box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html,
body,
figure {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

/* div {
	border: 1px solid red;
} */
/* Default font and size */
body {
  width: 100vw;
  height: 100vh;

  /* center vertically */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;

  /* background behind the plot */
  /* background: rgb(40, 40, 40); */

  /* default text */
  font-family: sans-serif;
  font-size: 1.1rem;
}

#k1 {
  margin-left: 625px;
  font-size: 0.8rem;
}

#k2 {
  margin-left: 45px;
  font-size: 0.8rem;
}

.current {
  margin-left: 460px;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9; 
  position: absolute;
}

.axis_chart {
  font: 20px sans-serif;
}

svg {
  margin: 1rem;
}

#chart {
  padding-left: 0;
  padding-right: 0;
}

.area-chart-legend {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.kyoto-commitment-labels {
  font-size: 0.5em;
  text-anchor: middle;
}

.instructions {
  font-size: 0.7em;
  font-style: italic;
  text-anchor: left;
}

.kyoto-begining-lines {
  stroke-width: 2;
  stroke-dasharray: 6;
  stroke: green;
  fill: none;
}

.kyoto-commitment-lines {
  stroke-width: 2;
  stroke-dasharray: 6;
  stroke: red;
  fill: none;
}

g.context g.axis path {
	stroke-opacity: .1;
}

g.context g.axis line {
	stroke-opacity: .1;
}


/*
.bar {
	margin-left : 1000px;
	margin-top : -150px;
}

.map {
	margin-top : 100px;
	margin-left: 100px;
} */